.create-choice{
  display: flex;
  border: 1px solid black
}

.choice-input-label{

}

.choice-input-box{
  display: flex;
  flex-direction: column;
  width: 975px;
  height: 50px;
  background-color: white;
}

