.choice-body{
  width: 60%;
  height: 15%;
  margin: auto;
  box-shadow: 0px 1px 1px 1px #D1D1D1;
  text-indent: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;


}

.poll-box{
  display:flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;

}

.poll-show-left-box{
  display:flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 60%;
  height: 80vh;
  box-shadow: 0px 1px 1px 1px #D1D1D1;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;


}

.poll-body{
  color: white;
  background-color: #6193C5;
  width: 100%;
  text-align: center;

}

.black-logo-container{
  height: 30px;
  width: 100%;
  background-color: black;
}

.black-logo{
  height: 30px;
}

.poll-show-right-box{
  display: flex;

  flex-direction: row;
  width: 360px;
  height: 100vh;
  box-shadow: 0px 1px 1px 1px #D1D1D1;
  background-color: #e9eff4;
}

.poll-show-delete{
  width: 50%;
  height: 45px;
  background-color: #275172;
  color: white;
  text-align: center;

}

.poll-show-edit{
  width: 180px;
  height: 45px;
  border-right: 1px solid black;
  background-color: #275172;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0px;
  right: 360px;
}

.poll-show-edit:hover{
  background-color: #203348;
}

.poll-show-delete:hover{
  background-color: #203348;
}