

.poll-input-label{

}

.Question-Type-Box{
  display: flex;
  width: 975px;
  height: 115px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.multiple-choice{
  width: 125px;
  background-color: #E6E6E6;
  color: #6193C5;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20px;

}

.free-response{
  width: 125px;
  background-color: #E6E6E6;
  color: #6193C5;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center
}

.multiple-choice:hover{
  background: white;

}

#selected{
  background: white;
}

.free-response:hover{
  background: white;
}



.white-box{
  background-color: white;
  display: flex;
  height: 55px;
  flex-direction: column;
  justify-content: center;
}

.orange-x{
  position: relative;
  left: 70px;
  display: flex;
  color: white;
  background-color: #FC5D51;
  width: 40px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.orange-x:hover{
  background-color: #f83e37;
}

.add-choice{
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  width: 120px;
  height: 35px;
  border: 1px solid #6193C5;
  color: #6193C5;
  justify-content: center;
}


.add-choice:hover{
  color: white;
  background-color: #3f759c;
}

.gray-box{
  background-color: #D3D3D3;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  
}

.choice-inside-poll{
  display: flex;
  width: 975px;
  height: 50px;
  background-color: white;
  margin-bottom: 10px;
  text-indent: 5px;

}



.poll-input-box{
  display: flex;
  width: 975px;
  height: 50px;
  background-color: white;
  margin-bottom: 15px;
  text-indent: 5px;


}

.submit-button{
  font-size: 12px;
  font-weight: bold;
  display: flex;
  width: 110px;
  height: 50px;
  background-color: #6193C5;
  color: white;
  align-self: flex-end;
  margin-left: auto;
  justify-content: center;
}

.submit-button:hover{
  background-color: #3f759c;
}

.horizontal-dashes{
  width: 975px;
  border-bottom: 1px dashed white;
  margin-top: 20px;
  margin-bottom: 15px;
}

.group-dropdown{
  display: flex;
  width: 490px;
  height: 45px;
}

.group-and-create-row{
  display: flex;
  flex-direction: row;
}