.create-poll{
  display: flex;
  border: 1px solid black;
}

.poll-input-label{

}
.gray-box{
  /* background-color: #D3D3D3;
  display: flex;
  min-height: 100vh;
  flex-direction: row; */

}

.white-box{
  background-color: white;
  display: flex;
  height: 55px;
}

.poll-input-box{
  display: flex;
  width: 975px;
  height: 50px;
  background-color: white;

}

.submit-button{
  display: flex;
  width: 110px;
  height: 50px;
  background-color: #6193C5;
  color: white;
}

.submit-button:hover{
  background-color: #3f759c;
}

