.choice-body{
  width: 80%;
  height: 15%;
  margin: auto;
  box-shadow: 0px 1px 1px 1px #D1D1D1;
  text-indent: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;


}

.poll-box{
  margin-top: 5px;
  display:flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;

}

.poll-show-left-box{
  display:flex;
  justify-content: center;
  align-self: center;
  justify-items: center;
  flex-direction: column;
  width: 80%;
  height: 500px;
  box-shadow: 0px 1px 1px 1px #D1D1D1;
  margin-top: 20px;
}

.poll-body{
  font-size: 30px;
  color: white;
  background-color: #6193C5;
  width: 100%;
  text-align: center;

}

.black-logo-container{
  height: 30px;
  width: 100%;
  background-color: black;
  margin-top: auto;

}

.black-logo{
  height: 30px;
}




.poll-show-buttons *{
  text-indent: 5px;

}


.poll-show-buttons>div{
  background-color: #e9eff4;
  color: #6b6b6b;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 5px;
  border: 1 px solid#6b6b6b;
  border-radius: 5px;
  flex-direction: row;

}
.poll-show-buttons>div:hover{
  background-color: #d8e3eb;
}


.poll-show-buttons{
  display: flex;
  margin-top: 5px;
  width: 20%;
  color: white;
  flex-direction: column;
}

#extend-button{
  width: 100%;
}

.poll-show-activate{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#poll-show-activate-icon{
  margin-left: auto;
  margin-right: 5px;
}

#active-blue-poll{
  background-color: #3F759C;
  color: white;
}

.chart-container{
  width: 80%;
  height: 400px;
  margin-top: 30px;
}

.chart-and-buttons{
  display: flex;
  flex-direction: row;
}

.poll-show-respond-text{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;

}

.respond-link:hover{
  text-decoration: underline;
  color: blue;
}