/* #35506C */


.response-blue-box{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #36516b;

}

.response-choice-container{
  position: absolute;
  top: 200px;
}

.response-choice{
  display: flex;
  height: 65px;
  width: 880px;
  border: 1 px solid black;
  background-color: #efefef;
  margin-bottom: 10px;
  margin-top: 10px;
  text-indent: 5px;
}

.response-choice:hover {
  background: white;
}

.response-chosen{
  display: flex;
  height: 65px;
  width: 880px;
  border: 1 px solid black;
  background-color: #527ba1;
  margin-bottom: 10px;
  margin-top: 10px;
  text-indent: 5px;

}

.response-question{
  /* height: 65px; */
  height: auto;
  width: 880px;
  border: 1 px solid black;
  color: white;
  position: absolute;
  top: 150px;
  font-size: 35px;
  text-indent: 5px;
  margin-bottom: 15px;


}

.delete-response{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  width: 160px;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
  position: absolute;
  top: 90px;
  /* top: 55px; */



}

.delete-response:hover{
  background-color: #527ba1;
}