.input-label{
  
  font-weight: 500;
}

.session-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.input-box{
  display: flex;
  width: 460px;
  height: 40px;
  border: 1px solid #6193C5;
  text-indent: 5px;
}

.login{
  color: white;
  display: flex;
  width: 460px;
  height: 40px;
  background-color: #FC5D51;
  text-align: center;
  justify-content: center;


}

.signup{
  color: white;
  display: flex;
  width: 460px;
  height: 40px;
  background-color: #FC5D51;
  justify-content: center;

}

.signup:hover {
  background-color: #e75750;
}

.login:hover {
  background-color: #e75750;
}