.user-container{
  display: flex;
  flex-direction: row;

}
.user-create-button{
  color: white;
  display: flex;
  flex-direction: column;
  width: 155px;
  height: 35px;
  background-color: #FC5D51;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

.user-create-button:hover{
  background-color: #e75750;
}

.user-polls{
  background-color: #F7FBFC;
  width: 900px;
  color: #3C749E;
  margin-top: 10px;
  flex-direction: row;

}

.user-polls-header{
  background-color: white;
  height: 40px;
  color: black;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  text-indent: 5px;
  margin-bottom: 10;



}

.user-polls-header button{
  font-weight: bold;
  height: 35px;

  margin-left: 5px;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;


  display: flex;
  background-color: #DBDBDB;
}

.user-single-poll{
  background-color: #F7FBFC;
  height: 40px;
  color: #3C749E;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
}

.green-user-single-poll{
  background-color: #BBF3C2;
  height: 40px;
  color: #3C749E;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
}


.poll-text{
  text-indent: 5px;
}

.poll-text:hover{
  color: #e75750;
  text-decoration: underline;
}

.user-single-poll:hover{
  background-color: #d8e3eb;
}

.green-user-single-poll:hover{
  background-color: #8af2a7;
}


.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
}



.fa-toggle-on:hover{
  color: #47b559;

}


.display-block {
  display: block;
}

.display-none {
  display: none;
}